# Python
.mypy_cache
.pytest_cache
**/__pycache__
.vscode/.ropeproject
.tox
.python-version

# Misc files
*.out
*.gz
*.aux
*.pdf
*.log
*.swp
*.dat
*.png
*.prof

# Test artifacts
.coverage
coverage.xml

# mkdocs output
site/

# Project-specific temp files
.hitfactorpy_cache
